*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: var(--spacing-none);
  padding: var(--spacing-none);
  background-color: var(--surface-default);
  color: var(--surface-text-primary);
  font-family: var(--typography-fontFamily-sans);
  font-size: var(--typography-body-size);
  line-height: var(--typography-body-lineHeight);
}
